{% extends 'flatpages/default.html' %}

{% load my_filters %}

{% load i18n %}

{% block title %} {% trans "Post delete" %} {% endblock title %}
 
{% block content %}
<h2>{% trans "Are you sure you want to delete the post?" %}</h2>
    <table>
            <tr>
                <th>
                    {% trans "Title" %}
                </th>
                <th>
                    {% trans "Publish date" %}
                </th>
                <th>
                    {% trans "Summary" %}
                </th>
            </tr>
            <tr>
                <td>
                    {{ post.title|censor }}
                </td>
                <td>
                    {{ post.creationDate|date:'d.M.Y' }}
                </td>
                <td>
                    {{ post.text|truncatechars:50|censor }}
                </td>
            </tr>
        </table>

<form method="POST">
    {% csrf_token %}
    <input type="submit" value="{% trans 'Confirm' %}"></form>
{% endblock content %} 