{% extends 'flatpages/default.html' %}

{% load i18n %}
{% load tz %}
{% load my_filters %}

{% block title %}
{% translate "News" %}
{% endblock title %}

{% block content %}
<main>
    <!-- Если сейчас больше чем 19 или же меньше 7, то выводим тёмную тему, иначе выводим светлую -->
    <style>
         main {background-color: {% if current_time.hour >= 19 or current_time.hour <= 7 %} darkcyan {% else %} powderblue {% endif %};}
    </style>

    {% get_current_timezone as TIME_ZONE %}
    {{ TIME_ZONE }}
    {{ current_time|timezone:TIME_ZONE }} <!-- Отображаем время в выбранном часовом поясе  -->

    <form action="" method="POST">
        {% csrf_token %}
        <label for="timezone">{% trans "Time zone:" %}</label>
        <select name="timezone">
            {% for tz in timezones %}
            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="{% trans 'set' %}">
    </form>


    <h1>{% translate "All posts" %}</h1>
    <h5>{% blocktranslate with amount=news|items_counter %} Total: {{amount}} {% endblocktranslate %}</h5>
    <br>
    {% if news %}
        <table>
                <th>{% translate "Categories:" %}</th>
            {% for category in categories %}
                <td>
                    <a href="{% url 'cat_news_list' category.id %}">{{ category.categoryName }}&nbsp;</a>
                </td>
            {% endfor %}
        </table>   <br>
        {% if user.is_authenticated %}
            {% if is_not_author %}
                <button> <a href="{% url 'upgrade' %}">{% translate "Become author!" %}</a> </button>
            {% endif %}
        {% endif %}
            <hr>
        <table>
            <tr>
                <th>
                    {% translate "Title" %}
                </th>
                <th>
                    {% translate "Publish date" %}
                </th>
                <th>
                    {% translate "Summary" %}
                </th>
            </tr>
        {% for post in news %}
            <tr>
                <td>
                    <a href="{% url 'post' post.id %}">{{ post.title|censor }}</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'edit_post' post.id %}">{% translate "Edit" %}</a>
                        <a href="{% url 'delete_post' post.id %}">{% translate "Remove" %}</a>
                    {% endif %}
                </td>
                <td>
                    {{ post.creationDate|date:'d.M.Y' }}
                </td>
                <td>
                    {{ post.text|truncatechars:50|censor }}
                </td>
            </tr>
        {% endfor %}
        </table>
        {% if user.is_authenticated %}
            <a href="{% url 'post_add' %}">{% translate "Add new post" %}</a>
        {% endif %}<br>
    {% else %}
        <h2>{% translate "Nothing here" %}</h2>
    {% endif %}

    <!-- Проверяем что поддерживается постраничный вывод -->
    {% if is_paginated %}

        <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
        {% if page_obj.has_previous %}
            <a href="?page=1">{% translate "First" %}</a>
            <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
        {% endif %}

        <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">>>></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">{% translate "Last" %}</a>
        {% endif %}

    {% endif %}
</main>
{% endblock content %}