<!DOCTYPE html>

{% load i18n %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "News update mail" %}</title>
</head>
<body>
    <h2>{% blocktranslate with username=user.username %} Hi, {{ username }}! {% endblocktranslate %}</h2>
    <h5>{% blocktranslate with author=post.author %} New post from author {{ author }} category(-es) {{ cat_mess }} {% endblocktranslate %}</h5>
    <p>{% blocktranslate with post_title=post.title %} Title: {{ post_title }} {% endblocktranslate %}</p>
    <p>{% blocktranslate with post_text=post.text|truncatechars:50 %} Summary: {{ post_text }} {% endblocktranslate %}</p>

    <p><a href="http://127.0.0.1:8000{{post.get_absolute_url }}">{% trans "Go to post" %}</a></p>

</body>
</html>