{% extends 'flatpages/default.html' %} 

{% load my_filters %}

{% load i18n %}

{% block title %}
{% trans "Post" %}
{% endblock title %}

{% block content %}
        <h1>{{ post.title|censor }}</h1>
        <h4>{% trans "Added:" %} {{ post.creationDate|date:'d-M-Y H:i' }}</h4>
        <table>
                <tr>
                    <th>
                        {% trans "Category:" %}
                    </th>
                </tr>
            {% for category in post.postCategory.all %}
                <tr>
                    <td>{{ category.categoryName }}</td>
                    <td>
                        {% if is_not_subscribe|get_item:category %}
                            <button> <a href="{% url 'cat_subscription' category.id %}">{% trans "Subscribe to category" %}</a> </button>
                        {% else %}
                            <button> <a href="{% url 'cat_subscription' category.id %}">{% trans "Unsubscribe" %}</a> </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </table>
        <p><b>{% trans "Text:" %}</b></p>
        <p>{{ post.text|censor }}</p><br>
        <a href="{% url 'edit_post' post.id %}">{% trans "Edit" %}</a>
        <a href="{% url 'delete_post' post.id %}">{% trans "Remove" %}</a>
{% endblock content %}