{% extends 'flatpages/default.html' %}

{% load my_filters %}

{% load i18n %}

{% block title %}
{% trans "Search news" %}
{% endblock title %}


{% block content %}
    <h1>{% trans "Search posts" %}</h1>
    <h5>{% blocktranslate with news_total=news_search|length %} Total: {{news_total}} {% endblocktranslate %}</h5>
    <hr>
    <!-- Перед таблицей добавим форму для поиска -->
    <form method="GET">
        {{ filter.form }}
        <input type="submit" value="{% trans 'Search' %}">
    </form>
    <hr>
    {% if news_search and filter.qs %}
        <table>
            <tr>
                <th>
                    {% trans "Title" %}
                </th>
                <th>
                    {% trans "Publish date" %}
                </th>
                <th>
                    {% trans "Summary" %}
                </th>
            </tr>
        {% for post in filter.qs %}
            <tr>
                <td>
                    {{ post.title|censor }}
                </td>
                <td>
                    {{ post.creationDate|date:'d.M.Y' }}
                </td>
                <td>
                    {{ post.text|truncatechars:50|censor }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>{% trans "Nothing here" %}</h2>
    {% endif %}
{% endblock content %}