{% extends 'flatpages/default.html' %}

{% load i18n %}

{% block title %}
{% trans "Profile" %}
{% endblock title %}

{% block content %}
    <h3>{% trans "Your Profile" %}</h3>
    <table>
            <tr>
                <th>
                    {% trans "Username" %}
                </th>
                <td>
                    {{ user.username }}
                </td>
            </tr>
            <tr>
                <th>
                    {% trans "First Name" %}
                </th>
                <td>
                    {{ user.first_name }}
                </td>
            </tr>
            <tr>
                <th>
                    {% trans "Last Name" %}
                </th>
                <td>
                    {{ user.last_name }}
                </td>
            </tr>
            <tr>
                <th>
                    {% trans "Email" %}
                </th>
                <td>
                    {{ user.email }}
                </td>
            </tr>
    </table>

{% if is_not_author %}
    <button> <a href="{% url 'upgrade' %}">{% trans "Become author!" %}</a> </button>
    {% endif %}
<p><a href="{% url 'profile_edit' user.id %}">{% trans "Edit Profile" %}</a></p>
{% endblock content %}